<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist</title>
</head>
<body>
    <h1>You searched for <span data-th-text="${name}"></span></h1>
    <div data-th-each="a: ${artist}">
        <h1 data-th-text="${a.name}"></h1>
        <h2>Popularity: <span data-th-text="${a.popularity}"></span></h2>
        <!-- <h3 data-th-text="${a.genres}"></h3> -->
        <a data-th-href="${a.url}">Link to Spotify</a>
        <br>
        <img data-th-src="${a.imageurl}" alt="">

    </div>
</body>
</html>