<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div>
        <form action="/artist" method="GET">
            Please enter artist name:
            <input type="text" name="name" required>
            <br><br>
            Please enter your token:
            <input type="text" name="token" required>
            <button type="submit">Go</button>
        </form>
    </div>
    <div>
        <form action="/topplaylist" method="GET">
            Please enter your token:
            <input type="text" name="token" required>
            <button type="submit">Go</button>
        </form>
    </div>
</body>
</html>