<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div>
        <form action="/artist" method="GET">
            Please enter artist name:
            <input type="text" name="name" required>
            <br><br>
            Please enter your token:
            <input type="text" name="token" required>
            <button type="submit">Go</button>
        </form>
    </div>
    <br><br><br><br>
    <div>
        <form action="/topplaylist" method="GET">
            Please enter your token:
            <input type="text" name="token" required>
            <button type="submit">Go</button>
        </form>
    </div>
    <br><br><br><br>
    <div>
        <form action="/categories" method="POST">
            Please select from the below options:
            <br>
            <label for="country">Country</label>
            <select name="country" id="country">
                <option value="SG" selected>SG</option>
                <option value="KR">KR</option>
                <option value="JP">JP</option>
                <option value="ES">ES</option>
                <option value="TW">SG</option>
            </select>
            <br><br>
            <label for="limit">limit</label>
            <select name="limit" id="limit">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <br><br>
            <label for="offset">offset</label>
            <select name="offset" id="offset">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <button type="submit">Go</button>
        </form>
    </div>
</body>
</html>