<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your artists</title>
</head>
<body>
    <h2><span data-th-text="${username}"></span>'s artists</h2>
    <form action="/user" method="GET">
        <div data-th-each="b:${list}">
            <h2 data-th-text="${b.name}"></h2>
            <h2 data-th-text="${b.url}"></h2>
        </div>
    </form>
    
    <form method="POST">
        <input type="hidden" name="username" data-th-value="${username}">
        <h1>Playlist for: <span data-th-text="${name}"></span></h1>
        <div data-th-each="a:${contents}">
            <h2 data-th-text="${a.name}"></h2>
            <h2 data-th-text="${a.url}"></h2>
        </div>
    </form>

    <br><br>



</body>
</html>